function Boxes.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
call Boxes.drawBoxes 1
pop temp 0
push pointer 0
return
function Boxes.drawBoxes 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 0
pop local 2
label WHILE_EXP0
push local 0
push constant 12
eq
not
not
if-goto WHILE_END0
push pointer 0
push local 2
push local 0
add
call Boxes.drawBox0 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 1
add
call Boxes.drawBox1 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 2
add
call Boxes.drawBox2 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 3
add
call Boxes.drawBox3 2
pop temp 0
push local 0
push constant 4
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push this 0
push constant 512
add
pop local 2
label WHILE_EXP1
push local 0
push constant 12
eq
not
not
if-goto WHILE_END1
push pointer 0
push local 2
push local 0
add
call Boxes.drawBox3 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 1
add
call Boxes.drawBox2 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 2
add
call Boxes.drawBox1 2
pop temp 0
push pointer 0
push local 2
push local 0
add
push constant 3
add
call Boxes.drawBox0 2
pop temp 0
push local 0
push constant 4
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Boxes.drawBox0 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15933
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16133
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16269
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 5461
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 13653
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12969
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Boxes.drawBox1 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2209
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2293
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 14717
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 10717
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 10749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4573
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 477
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 10637
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 14733
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8701
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Boxes.drawBox2 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 13389
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 14749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 14365
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 14941
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 14365
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 14365
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15421
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 14365
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12301
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Boxes.drawBox3 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8177
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15353
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8173
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1405
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8177
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Boxes.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
