function GameField.run 6
push constant 4869
call Road.new 1
pop local 2
push constant 4884
call Road.new 1
pop local 3
push constant 6150
call Road.new 1
pop local 4
push constant 6163
call Road.new 1
pop local 5
push constant 4879
push constant 3823
push constant 4974
push constant 4977
call Aleksey.new 4
pop local 0
push constant 7178
call Boxes.new 1
pop local 1
push local 2
call Road.dispose 1
pop temp 0
push local 3
call Road.dispose 1
pop temp 0
push local 4
call Road.dispose 1
pop temp 0
push local 5
call Road.dispose 1
pop temp 0
push local 1
call Boxes.dispose 1
pop temp 0
push local 0
call Aleksey.dispose 1
pop temp 0
push constant 0
return
