function Nandik.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
push this 0
call Nandik.drawNandik 2
pop temp 0
push pointer 0
return
function Nandik.drawNandik 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 1020
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3596
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 7183
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 14351
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 13356
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4084
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3508
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12684
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12300
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 14351
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7183
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3596
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1020
call Memory.poke 2
pop temp 0
push constant 0
return
function Nandik.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
