function Random.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 25
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Random.mod 1
push argument 0
pop pointer 0
push argument 1
push argument 1
push argument 2
call Math.divide 2
push argument 2
call Math.multiply 2
sub
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
neg
call Math.multiply 2
pop local 0
label IF_FALSE0
push local 0
return
function Random.getNext 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
add
push constant 25
call Random.mod 3
return
function Random.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
