function GameField.run 0
push constant 4869
call GameSprites.drawRoad 1
pop temp 0
push constant 4884
call GameSprites.drawRoad 1
pop temp 0
push constant 6150
call GameSprites.drawRoad 1
pop temp 0
push constant 6163
call GameSprites.drawRoad 1
pop temp 0
push constant 4879
call GameSprites.drawAlekseyTorso 1
pop temp 0
push constant 3823
call GameSprites.drawAlekseyHeadRight 1
pop temp 0
push constant 4974
call GameSprites.drawAlekseyHandStillLeft 1
pop temp 0
push constant 4977
call GameSprites.drawAlekseyHandStillRight 1
pop temp 0
push constant 7178
call GameSprites.drawBoxPlatform 1
pop temp 0
push constant 0
return
